:root {
  --mainBlue: #2b3a67;
  --lightBlue: #e84855;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ff9b71;
}

body {
  font-family: "Roboto", sans-serif !important;
  /* font-family: 'Noto Serif Display', serif  !important; */
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}
